body {
    margin: 0;
    min-height: 100%;
    background-image: url(./img/himmel.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}
h3 {
    font-weight: 500;
}

#load-more-btn {
    width: 230px;
    height: 48px;
    color: white;
    background: red;
    border-color: transparent;
    margin: 20px 0px 60px 0px;
    font-size: 20px;
    display: none;
}

#pokedex {
    min-height: 100%;
    background-image: url(./img/himmel.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

#pokemonName {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1450px;
}

.pkmn-name-img {
    min-height: 200px;
    min-width: 170px;
    background-color: rgba(0, 0, 255, 0.2);
    margin: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#pokemon-icons {
    max-width: 130px;
    min-height: 100px;
    max-height: 100px;
    margin-bottom: 12px;
    z-index: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pkmn-type {
    
    border: 1px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.type-div {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.id-nr {
    color: rgba(255, 255, 255, 0.6);
}

svg {
    position: absolute;
    width: 100px;
    right: -11px;
    z-index: auto;
    top: 37px;
    color: rgba(255, 255, 255, 0.2)
}